<h2>Forgotten your password?</h2>

<p>Simply fill out the form with your email, and a link will be emailed to you that will allow you to reset your password.</p>

<%= form_tag password_resets_path, :class => 'form-horizontal center-form' do %>
	<fieldset>
		<div class="control-group">
			<%= label_tag :email, 'Email', :class => 'control-label' %>
			<div class="controls"><%= email_field_tag :email, nil, :placeholder => "Email" %></div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= submit_tag "Reset Password", :class => 'btn btn-success' %>
			</div>
		</div>
	</fieldset>
<% end %>