<div class="row">
	<div class="span9">
		<div class="gear-list">
			<% @gear.each do |item| %>
				<%= render 'single', :item => item %>
			<% end %>
		</div>
	</div>
	<div class="span3">
		<%= link_to 'Add gear', new_gear_path, :class => 'btn btn-primary' %>
	</div>
</div>
